*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: darkgray;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    color: white;
    background-color: #222222;
}

section.imagem > p {
    width: 400px;
    background-color: #00000050;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}